:root {
  --carousel-width: 80%;
  --carousel-height: calc(var(--carousel-width)*0.8);
  --img-width: calc(var(--carousel-width)*0.8);
  --img-height: calc(var(--carousel-height)*0.8);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.imgSize {
  max-width: var(--img-width);
  height: var(--img-height);
}

#slidshow {
  margin: 20px 0;
}
.box-main {
  height: 100vh;
  min-width: 100%;
  width: 100%;
  z-index: 1;
}
.box-img {
  text-align: center;
  position: relative;
  height: 70vh;
  width: inherit;
  z-index: 2;
}

@media (max-width: 768px) {
  .box-img {
    height: 60vh;
  }
}

@media (max-width: 425px) {
  .box-img {
    height: inherit;
  }
}

#imgG {
  height: inherit;
}
.slideshowButtons {
  padding: 5px 5px;
  border-radius: 50px;
  /* background: rgba(0, 0, 0, 0.6); */
  border: none;
  font-size: 35px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  transition: all .2s;
  z-index: 5;
}
.slideshowButtons:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
}
#previous {
  position: absolute;
  top: 50%;
  left: 5%;
  margin-right: 2% !important;
}
#next {
  position: absolute;
  top: 50%;
  right: 5%;
  margin-left: 2% !important;
}
